<li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
  <div ngbDropdown class="d-inline-block">
    <a type="button" class="btn btn-icon btn-transparent-dark dropdown-toggle pointer" id="navbarDropdownUserImage"
      placement="bottom-end" ngbDropdownToggle role="button" data-bs-toggle="dropdown" aria-haspopup="true">
      <img class="img-fluid" src="assets/img/illustrations/profiles/pp.jpg" />
    </a>
    <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" ngbDropdownMenu
      aria-labelledby="navbarDropdownUserImage">
      <h6 class="dropdown-header d-flex align-items-center">
        <img class="dropdown-user-img" src="assets/img/illustrations/profiles/pp.jpg" />
        <div class="dropdown-user-details">
          <div class="dropdown-user-details-name">Jhonatan Guerrero</div>
          <div class="dropdown-user-details-email">jhonatan@dejeloper.com</div>
        </div>
      </h6>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#!">
        <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
        Cuenta
      </a>
      <a class="dropdown-item" href="#!">
        <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
        Salir
      </a>
    </div>
  </div>
</li>