.nav-link {
  color: #212832 !important;
}

.nav-link-icon {
  color: #a7aeb8;
  width: 20px;
  height: 20px;
}

.nav-link .nav-link-icon {
  padding-right: 0.5rem;
  display: inline-flex;
  margin-right: 0.5rem;
}

.height0 {
  height: 0;
}

.sidenav-menu-heading {
  padding: 1rem 1rem 0.75rem !important;
}